#top-bar {
  position: fixed;
  width: 100%;
  padding: 20px 30px;
  background-color: #20c997;
  

}

#top-bar img {
  float: left;
  margin-top: 10px;
  width: 45px;
  
  
}

#top-bar h1 {
  text-align: center;
  margin: 0 auto;
}

