#top-bar {
  width: 100%;
  padding: 12px 28px;
  background-color: #20c997;
  
  

}

#top-bar img {
  float: left;
  margin-top: 10px;
  width: 40px;
  
  
}

#top-bar h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
}

@media (min-width: 760px) {
  #top-bar {
    position: fixed;
    padding: 20px 30px;

 }
  #top-bar img {
    width: 45px;
  }
}